---
- name: Set login banner
  ansible.builtin.copy:
    src: motd.txt
    dest: /etc/motd
    mode: "0600"
  become: yes
  ignore_errors: yes

- name: Update apt-cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  register: result
  until: result is succeeded

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: true
    state: present

- name: Install some packages
  ansible.builtin.apt:
    name: "{{ core_extra_packages }}"
    state: present
  register: result
  until: result is succeeded

- name: "Set hostname to {{ core_hostname }}"
  ansible.builtin.hostname:
    name: "{{ core_hostname }}"

- name: "Set timezone to {{ core_timezone }}"
  community.general.timezone:
    name: "{{ core_timezone }}"

- name: Create apps directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ lyoko_directory }}"
    - "{{ apps_directory }}"
    - "{{ alexandria_directory }}"
    - "{{ media_directory }}"

- name: "Set user permissions to directories"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ lyoko_user }}"
    group: "{{ lyoko_user }}"
    mode: "0755"
    recurse: true
  with_items:
    - "{{ lyoko_directory }}"
    - "{{ apps_directory }}"
    - "{{ alexandria_directory }}"
    - "{{ alexandria_directory }}/torrents"
    - "{{ alexandria_directory }}/torrents/movies"
    - "{{ alexandria_directory }}/torrents/tv"
    - "{{ alexandria_directory }}/torrents/anime"
    - "{{ alexandria_directory }}/torrents/music"
    - "{{ alexandria_directory }}/torrents/books"
    - "{{ media_directory }}"
    - "{{ media_directory }}/movies"
    - "{{ media_directory }}/tv"
    - "{{ media_directory }}/anime"
    - "{{ media_directory }}/music"
    - "{{ media_directory }}/books"
