---
- name: Start Homepage
  when: homepage_enabled is true
  block:
    - name: Create Homepage Directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      with_items:
        - "{{ homepage_data_directory }}"

    - name: Copy Homepage template config files
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "{{ homepage_data_directory }}/{{ item }}"
      with_items:
        - bookmarks.yaml
        - docker.yaml
        - settings.yaml
        - services.yaml
        - widgets.yaml
      register: homepage_config

    - name: Create Homepage Docker Container
      community.docker.docker_container:
        name: "{{ homepage_container_name }}"
        image: "{{ homepage_image_name }}:{{ homepage_image_version }}"
        restart: "{{ homepage_config is changed }}"
        volumes:
          - "{{ homepage_data_directory }}:/app/config"
          - "/var/run/docker.sock:/var/run/docker.sock"
        env:
          TZ: "{{ core_timezone }}"
          HOMEPAGE_ALLOWED_HOSTS: "*"
        networks:
          - name: "proxy"
        pull: true
        restart_policy: unless-stopped
        labels:
          traefik.enable: "true"
          traefik.http.routers.homepage.rule: "Host(`{{ homepage_domain }}.{{ lyoko_domain }}`)"
          traefik.http.routers.homepage.entrypoints: "websecure"
          traefik.http.routers.homepage.tls.certresolver: "cloudflare"
          traefik.http.services.homepage.loadbalancer.server.port: "3000"
          traefik.docker.network: "proxy"
