---
- name: Start Traefik
  when: traefik_enabled is true
  block:
    - name: Create Traefik Directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      with_items:
        - "{{ traefik_data_directory }}"
        - "{{ traefik_data_directory }}/letsencrypt"
        - "{{ traefik_data_directory }}/services"
        - "{{ traefik_data_directory }}/logs"

    - name: Template Traefik config.yml
      ansible.builtin.template:
        src: traefik.yml.j2
        dest: "{{ traefik_data_directory }}/traefik.yml"
      register: template_config

    - name: Traefik services configuration
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "{{ traefik_data_directory }}/services/{{ item | basename | regex_replace('\\.j2', '') }}"
        mode: "0644"
      with_fileglob:
        - ../templates/services/*.j2

    - name: Check if acme.json exists
      ansible.builtin.stat:
        path: "{{ traefik_data_directory }}/letsencrypt/acme.json"
      register: file_status

    - name: Create acme.json if it doesn't exist
      ansible.builtin.file:
        path: "{{ traefik_data_directory }}/letsencrypt/acme.json"
        state: touch
        owner: "{{ lyoko_user }}"
        group: "{{ lyoko_user }}"
        mode: "0600"
        modification_time: preserve
        access_time: preserve
      when: not file_status.stat.exists

    - name: Ensure acme.json has correct permissions
      ansible.builtin.file:
        path: "{{ traefik_data_directory }}/letsencrypt/acme.json"
        owner: "{{ lyoko_user }}"
        group: "{{ lyoko_user }}"
        mode: "0600"
        state: file

    - name: Create Proxy Docker Network
      community.docker.docker_network:
        name: proxy
      register: network

    - name: Traefik Docker Container
      community.docker.docker_container:
        name: "{{ traefik_container_name }}"
        image: "{{ traefik_image_name }}:{{ traefik_image_version }}"
        volumes:
          - "{{ traefik_data_directory }}/traefik.yml:/etc/traefik/traefik.yml:ro"
          - "{{ traefik_data_directory }}/letsencrypt:/letsencrypt:rw"
          - "{{ traefik_data_directory }}/services:/services:ro"
          - "{{ traefik_data_directory }}/logs:/var/log/traefik:rw"
          - "/var/run/docker.sock:/var/run/docker.sock:ro"
        env:
          CF_API_EMAIL: "{{ lyoko_user_email }}"
          CF_DNS_API_TOKEN: "{{ traefik_cf_api_token }}"
          CF_API_KEY: "{{ traefik_cf_api_key }}"
        ports:
          - "80:80"
          - "443:443"
        networks:
          - name: "proxy"
        pull: true
        restart_policy: unless-stopped
        recreate: "{{ template_config is changed }}"
        labels:
          traefik.enable: "true"
          traefik.http.routers.traefik.rule: "Host(`traefik.{{ traefik_domain }}`)"
          traefik.http.routers.traefik.entrypoints: "websecure"
          traefik.http.routers.traefik.tls.certresolver: "cloudflare"
          traefik.http.routers.traefik.service: "api@internal"
          traefik.http.routers.traefik.middlewares: "traefik-auth"
          # setup password for dashboard
          traefik.http.middlewares.traefik-auth.basicauth.users: "{{ traefik_dashboard_auth }}"