---
- name: Lyoko
  hosts: all

  roles:

    ###
    ### Core
    ###

    - role: core
      become: true
      become_method: sudo

    ###
    ### Docker
    ###

    - role: geerlingguy.docker
      become: true
      become_method: sudo
      vars:
        docker_apt_filename: download_docker_com_linux_ubuntu
      tags:
        - docker
        - skip_ansible_lint

    - role: lyoko-docker
      become: true
      become_method: sudo
      tags:
        - docker

    ###
    ### Apps
    ###

    - role: traefik
      tags:
        - traefik

    - role: homepage
      tags:
        - homepage

    - role: vaultwarden
      tags:
        - vaultwarden

    ###
    ### Media Server
    ###

    - role: jellyfin
      tags:
        - jellyfin
        - media

    - role: sonarr
      tags:
        - sonarr
        - media

    - role: radarr
      tags:
        - radarr
        - media

    - role: prowlarr
      tags:
        - prowlarr
        - media

    - role: qbittorrent
      tags:
        - qbittorrent
        - media
