---
- name: Start qBitTorrent
  when: qbittorrent_enabled is true
  block:
    - name: Create qBitTorrent Directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
      with_items:
        - "{{ qbittorrent_config_directory }}"

    - name: Create qBitTorrent Docker Container
      community.docker.docker_container:
        name: "{{ qbittorrent_container_name }}"
        image: "{{ qbittorrent_image_name }}:{{ qbittorrent_image_version }}"
        network_mode: "container:gluetun"
        volumes:
          - "{{ qbittorrent_config_directory }}:/config"
          - "{{ alexandria_directory }}/torrents:/data/torrents"
        env:
          TZ: "{{ core_timezone }}"
          PUID: "{{ qbittorrent_puid }}"
          PGID: "{{ qbittorrent_pgid }}"
          WEBUI_PORT: "8080"
        pull: true
        restart_policy: unless-stopped